#controlup {
    width: 100%;
    height: 30%;
    border-right: 3px solid rgb(3, 20, 41);
    /* background-color: rgb(80, 126, 28); */
}

Header {
    color: white;
    background: #5d5b6a !important;
    /* height: 50px !important; */
}

#Button {
    font-weight: bold;
    text-align: center !important;
    height: 50px !important;
    width: 50% !important;
    color: rgb(22, 2, 2) !important;
    background-color: rgb(204, 201, 211);
}

.ant-cascader-picker.ant-cascader-picker-show-search {
    background-color: rgb(210, 222, 224);
    width: 100% !important;
}

#label {
    background-color: rgb(169, 182, 182);
}