#controlup {
    width: 100%;
    height: 27%;
    border-right: px solid rgb(3, 20, 41);
    /* background-color: rgb(80, 126, 28); */
}

Header {
    color: white;
    background: #5d5b6a !important;
    /* height: 50px !important; */
}
#filter {
    font: bold;
    text-align: center !important;
    color: black;
    background: aqua !important;
    height: 30px;
}
.Button {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center !important;
    height: 50px !important;
    width: 50% !important;
    color: rgb(22, 2, 2) !important;
    background-color: rgb(204, 201, 211);
}

.ant-cascader-picker.ant-cascader-picker-show-search {
    background-color: rgb(210, 222, 224);
    width: 100% !important;
}

#label {
    background-color: rgb(182, 174, 169);
}

.ButtonClickedA {
    font-weight: bold;
    text-align: center !important;
    height: 50px !important;
    width: 50% !important;
    color: #FFF !important;
    background-color: #a6cee3 !important;
}

.ButtonClickedB {
    font-weight: bold;
    text-align: center !important;
    height: 50px !important;
    width: 50% !important;
    color: #FFF !important;
    background-color: #a6cee3 !important;
}

.ButtonClickedC {
    font-weight: bold;
    text-align: center !important;
    height: 50px !important;
    width: 50% !important;
    color: #FFF !important;
    background-color: #a6cee3 !important;
}

.ButtonClickedD {
    font-weight: bold;
    text-align: center !important;
    height: 50px !important;
    width: 50% !important;
    color: #FFF !important;
    background-color: #a6cee3 !important;
}