#right-1 {
    width: 100%;
    height: 30%;
    background-color: rgb(27, 167, 97);
}

#right-2 {
    width: 100%;
    height: 40%;
    background-color: rgb(33, 16, 73);
}

#right-3 {
    width: 100%;
    height: 30%;
    background-color: rgb(131, 138, 37);
}