#ba {
    width: 100%;
    height: 40%;
    border-left: 3px solid rgb(105, 105, 105);
    border-right: 5px solid dimgray;
}

#bar {
    width: 100%;
    height: 84%;
}

#name {
    width: 100%;
    height: 10%;
}

font {
    width: 50%;
    height: 100%;
}

#panel {
    width: 100%;
    height: 6%;
    background-color: rgb(56, 69, 85);
    /* line-height: 5%; */
    color: white;
    text-align: left;
    font-size: 10px;
}